::ng-deep {
  p-inputswitch .p-inputswitch-slider {
    margin-top: 0.5rem;
    height: 1.75rem;
  }

  p-speeddial {
    .p-speeddial {
      display: flex;
      flex-direction: row-reverse;
      justify-content: end;
      position: relative;
    }

    .p-speeddial-button {
      border: 0;
      padding: 1.5rem;
      height: 1rem;
      width: 1rem;
    }
  }
}

span {
  margin: 1rem;
  margin-right: 0;
}
