<div class="row justify-content-between">
  <div class="col col-10 md:col-12">{{ legalText }}</div>
  <div class="col col-2 md:col-12 text-end">
    <a
      href="https://www.linkedin.com/in/sefranflorido/"
      target="_blank"
      rel="noopener noreferrer"
      class="p-button p-button-link pi pi-linkedin p-2"
    >
    </a>
    <a
      href="https://github.com/SefranFlorido"
      target="_blank"
      rel="noopener noreferrer"
      class="p-button p-button-link pi pi-github p-2"
    >
    </a>
    <a
      href="https://www.instagram.com/sefran_florido/"
      target="_blank"
      rel="noopener noreferrer"
      class="p-button p-button-link pi pi-instagram p-2"
    >
    </a>
  </div>
</div>
