<div class="grid text-justify align-items-center justify-content-center">
  <div class="col-12 md:col-10">
    <p class="h6">
      <small>{{ legalText }}</small>
    </p>
  </div>
  <div class="col-12 md:col-2 text-center">
    <a
      href="https://www.linkedin.com/in/sefranflorido/"
      target="_blank"
      class="p-button p-button-link p-2"
    >
      <span class="pi pi-linkedin"></span>
    </a>
    <a
      href="https://github.com/SefranFlorido"
      target="_blank"
      rel="noopener noreferrer"
      class="p-button p-button-link p-2"
    >
      <span class="pi pi-github"></span>
    </a>
    <a
      href="https://www.instagram.com/sefran_florido/"
      target="_blank"
      rel="noopener noreferrer"
      class="p-button p-button-link p-2"
    >
      <span class="pi pi-instagram"></span>
    </a>
  </div>
</div>
