/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";

app-root {
  display: flex;
  flex-direction: column;
  height: 97.6vh;
  width: 100%;
  padding: 2rem 5rem;
  router-outlet + *,
  main {
    height: 97.6vh;
  }
}
